import "./App.css";
.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  background: lightblue;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .dashboard {
    grid-template-columns: 1fr 1fr 1fr;
  }
}